.footer {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  color: white;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.footer-text {
  color: red;
  font-size: 24px;
  font-weight: 600;
}
